scrapy-scraper
Scrapy
twisted[tls, conch]
playwright
scrapylib
scrapy-playwright
scrapy-deltafetch
psutil
pillow
tldextract
jinja2
memory-profiler
pyppeteer
crawlee
mechanicalsoup
pyquery
requests
beautifulsoup4
selenium
webdriver_manager
pandas
xlsxwriter
free-proxy
lxml