scrapy-scraper
Scrapy
twisted[tls, conch]
playwright
scrapylib
scrapy-playwright
scrapy-deltafetch
psutil
pillow
tldextract
jinja2
memory-profiler
pyppeteer
crawlee[playwright, beautifulsoup]
mechanicalsoup
pyquery
requests
beautifulsoup4
selenium
webdriver-manager
pandas
xlsxwriter
lxml
openpyxl